[submodule "app/vdj-tapis-js"]
	path = app/vdj-tapis-js
	url = https://github.com/vdjserver/vdj-tapis-js.git
[submodule "app/vdjserver-schema"]
	path = app/vdjserver-schema
	url = https://github.com/vdjserver/vdjserver-schema.git
