openapi: '3.0'
info:
  title: VDJServer API
  version: '2.0.0'
  contact:
    name: VDJServer
    url: 'https://vdjserver.org/'
    email: vdjserver@utsouthwestern.edu
  description: >
    API service for the VDJServer analysis portal.

servers:
  - url: https://vdjserver.org/api/v2
    description: Production server
    variables:
      basePath:
        default: /api/v2
  - url: https://vdj-staging.tacc.utexas.edu/api/v2
    description: Staging server
    variables:
      basePath:
        default: /api/v2

paths:
  /:
    get:
      description: |
        Service heartbeat.
      operationId: getStatus
      responses:
        '200':
          description: |
            Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string

  /token:
    post:
      description: create token
      operationId: createToken
      tags:
        - authentication
      requestBody:
        content:
          'application/json':
            schema:
              properties:
                username: 
                  type: string
                password: 
                  type: string
              required:
                - username
                - password
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
        '401':
          description: Not authorized.
          content: 
            'application/json': {}

    put:
      description: refresh token
      operationId: refreshToken
      tags:
        - authentication
      requestBody:
        content:
          'application/json':
            schema:
              properties:
                username:
                  type: string
                refresh_token:
                  type: string
              required:
                - username
                - refresh_token
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
        '401':
          description: Not authorized.
          content: 
            'application/json': {}
